body {
  --dg-content-max-width: 900px;
  --dg-sidebar-max-width: 220px;
  --dg-sidebar-gap: 24px;
  --dg-filetree-gap: 40px;
  --dg-graph-width: 200px;
  --dg-graph-height: 200px;
}

@media (max-width: 1400px) {
  .content {
    max-width: calc(100vw - var(--dg-filetree-width) - 80px);
  }
}
